<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
/* Menu*/
.menu{
    background: #212222;
}
.menu ul {
list-style: none;
padding: 0;
width :90%;
max-width:1000px;
margin: 20px;
}

.menu  ul li  {
display: inline-flex;

}

.menu ul li a{
    text-decoration:none;
    color:#FFFFFF;
    padding: 15px;
}

li:hover{
    background:#111111;
    color:#FFFFFF;
}
<<<<<<< Updated upstream
/* Se inserta logo */
=======
>>>>>>> Stashed changes
#logo{
    display: block;
    width: 935px;
    height: 175px;
    margin: auto;

}
<<<<<<< Updated upstream
/*---------------------Fin de encabezado y logo-------------------*/
=======
#pie{
    width: 980px;
    padding: 15px;
    
    margin: auto;
}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
