/* Menu*/
*{/* selector universal-MONTENEGRO ARELLANO JHONN*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
.menu{
    background: #212222;
}
.menu ul {/*selector por clase-MONTENEGRO ARELLANO JHON*/
list-style: none;
padding: 0;
width :90%;
max-width:1000px;
margin: 20px;
}

.menu  ul li  {
display: inline-flex;

}
a{/*selector de elemento- MONTENEGRO ARELLANO JHONN*/
    text-decoration:none;

}

.menu ul li a{
    color:#FFFFFF;
    padding: 15px;
}

.nav_li:hover{
    background:#111111;
    color:#FFFFFF;
}
/* Se inserta logo */

#logo{/*selector por id-MONTENEGRO ARELLANO JHONN*/
    display: block;
    width: 935px;
    height: 175px;
    margin: auto;

}

/*---------------------Fin de encabezado y logo-------------------*/

.ferelax  {
    width: 980px;
    height: 315px;
    z-index: 5;
}
.seccion-2{
    margin: 3px;
    padding: 15px;
width :100%;

margin: 0px;
background:#303030;
}

.seccion-info{
    margin: 1px;
    padding: 15px;
    width:65%;



}
.info-secc {
    font-family: 'times new roman', times;
    font-size: large;
    text-align: left;
}

.seccion-iz{
    display: block;
}
.seccion-der{
    width: 26%;
    float: right;
}
/*------------footer-----------------*/
.footer {
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
    background-color:#141414;
    color:#FFF;
    padding: 1px ;
    text-align:center;
}
.futer-push{
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
background: red;

}
.redes-sociales{
    display: inline-flex;

}
h2.sigueme {
    float: left;
    color: #fff;
    margin: 20px;
    font-weight: normal;
    line-height: 30px;
    font-size: 200%;
}