/* Menu*/
*{/* selector universal-MONTENEGRO ARELLANO JHONN*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
.menu{
    background: #212222;
}
.menu ul {/*selector por clase-MONTENEGRO ARELLANO JHON*/
list-style: none;
padding: 0;
width :90%;
max-width:1000px;
margin: 20px;
}

.menu  ul li  {
display: inline-flex;

}
a{/*selector de elemento- MONTENEGRO ARELLANO JHONN*/
    text-decoration:none;

}

.menu ul li a{
    color:#FFFFFF;
    padding: 15px;
}

.nav_li:hover{
    background:#111111;
    color:#FFFFFF;
}
/* Se inserta logo */

#logo{/*selector por id-MONTENEGRO ARELLANO JHONN*/
    display: block;
    width: 935px;
    height: 175px;
    margin: auto;

}

/*---------------------Fin de encabezado y logo-------------------*/

.ferelax  {
    width: 980px;
    height: 315px;
    z-index: 5;
}
.seccion-2{
    margin: 3px;
    padding: 15px;
width :100%;

margin: 0px;
background:#303030;
}

.seccion-info{
    margin: 1px;
    padding: 15px;
    width:65%;



}
.info-secc {
    font-family: 'times new roman', times;
    font-size: large;
    text-align: left;
}

.seccion-iz{
    display: block;
}
.seccion-der{
    width: 26%;
    float: right;
}
/*------------footer-----------------*/
.footer {
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
    background-color:#141414;
    color:#FFF;
    padding: 1px ;
    text-align:center;
}
.futer-push{
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
background: red;

}
.redes-sociales{
    display: inline-flex;

}
h2.sigueme {
    float: left;
    color: #fff;
    margin: 20px;
    font-weight: normal;
    line-height: 30px;
    font-size: 200%;
}

/*------------CSS JOSUE ROMERO INICIO-----------------*/

#combos_y_arreglos{
    color: cornsilk;
}

#Productos_Todos{

    color:rgb(55, 30, 75);
}


p:nth-child(1)::first-letter{  
    color:green;              
}

.girasoles {

    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(229, 168, 66);
    background-color: rgb(229, 168, 66);
   
}


.orquideas {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(178, 199, 106);
    background-color: rgb(178, 199, 106);
}

.rosas {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(167, 25, 6);
    background-color: rgb(167, 25, 6);
}

.lirios {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(242, 220, 205);
    background-color: rgb(242, 220, 205);
}

.amor {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(145, 1, 1);
    background-color: rgb(145, 1, 1);
}

.mama {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(95, 2, 90);
    background-color: rgb(114, 0, 108);
}

.papa {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(25, 1, 92);
    background-color: rgb(25, 1, 92);
}

.mimo
 {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}
.funebre{
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgba(12, 0, 34, 0.856);
    background-color: rgba(12, 0, 34, 0.856);
}

img:hover{
    background: darkcyan;
    background-color: darkcyan;
    border: 5px solid darkcyan;
}

/*------------FIN JOSUE ROMERO-----------------*/

