/* Menu*/
*{/* selector universal-MONTENEGRO ARELLANO JHONN*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  body{
      background-color: rgb(214, 210, 205);
      font-size: 18px;
  }
.menu{
    background: #212222;
}
.menu ul {/*selector por clase-MONTENEGRO ARELLANO JHON*/
list-style: none;
padding: 0;
width :90%;
max-width:1000px;
margin: 20px;
}

.menu  ul li  {/*selector descendiente-MONTENEGRO ARELLANO JHON*/
display: inline-flex;

}
a{/*selector de elemento- MONTENEGRO ARELLANO JHONN*/
    text-decoration:none;

}

.menu ul li a{
    color:#FFFFFF;
    padding: 15px;
}

.nav_li:hover{
    background:#111111;
    color:#FFFFFF;
}
/* Se inserta logo */

#logo{/*selector por id-MONTENEGRO ARELLANO JHONN*/
    display: block;
    width: 935px;
    height: 175px;
    margin: auto;

}

/*---------------------Fin de encabezado y logo-------------------*/


.icon-s{
    width: 35px;
    height: 38px;
    margin-top: 20px;
 
  
}
.icono-n{
    padding: 30px 25px 20px 20px;
    border-radius: 100px;

 
}
.icono-n:hover{
    background-color: #a5a7aa;
    color:#FFFFFF:
}
.border-conta{
    border: 2px solid rgb(2, 3, 3);
    border-bottom: 3px double rgb(4, 49, 95);
    width:85% ;
    height: 380px;
    background-color:hsla(0, 0%, 100%, 0.808);
}
.incon-cuadro{
 
    margin-top:  20px; 
    margin-bottom:  20px;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    position: relative;
}
.incon-cuadro label{
font-size: 10pt;
padding: 10px;
text-transform: uppercase;
position: absolute;
left: 20%;
top: 6%;
transform: translateX(50%) translateY(50%);
}
.incon-cuadro label:hover{
    background-color:rgb(126, 138, 150);
}
.ferelax  {/*selector por clase-MONTENEGRO ARELLANO JHON*/
    width: 100%;
    height: 343px;
    z-index: 5;
}
.ferelax img{
    margin: 2px;
    height: 343px;
    width: 100%;

}
.seccion-2{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    margin: 3px;
    padding: 30px;
width :100%;

margin: 0px;
background:#303030;
}

#seccion3 {
    display: grid;
    grid-template-columns: 3fr 1fr ;
width: 90%;
margin-left: 5%;
    justify-content: center;


}

.seccion-info{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    position: absolute;
    left: 3.8%;
    margin: 1px;
    padding: 15px;
    width:65%;



}
.info-secc {/*selector por clase-MONTENEGRO ARELLANO JHON*/
    font-family: 'times new roman', times;
    font-size: large;
    text-align: left;
}

.seccion-iz{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    display: block;
}
.seccion-der{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    width: 26%;
    float: right;
}
.contenedor-cuadros{
    display: flex;
justify-content: center;
width: 97%;
margin-left: 1.7%;

}
.contenedor-principal{
justify-content: center;
    width:85% ;
    height: 95%;
}
.galeria-fores {
   
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
}

.borderim{
    float:left;
    width:90%;
    height:90%px;
    margin: 15px;
    padding:5px;
    background-color:#d5d8db ;
    border: #a5a7aa solid 2px;
    border-bottom: #f5f7f9 solid 1px;
}
.rosa-im{
    width: 265px;
    height: 240px;
}

.borderim:hover{
    background-color:#bcc6cf;
}
.cuadro{
    text-align: center;

}
.cuadro2{
    display: inline-block;
    width: 100%;
    height: 450px;
}
/*-----------------------------------footer------------------------------------*/
.footer {/*selector por clase-MONTENEGRO ARELLANO JHON*/
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
    background-color:#141414;
    color:#FFF;
    padding-bottom: 25px ;
    text-align:center;
}
.footer p{
    padding: 6px;
    background-color:#141414;
    padding-bottom: 3px;
}
.futer-push{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
background: red;

}
.redes-sociales{/*selector por clase-MONTENEGRO ARELLANO JHON*/
    display: inline-flex;

}
#sigueme {/*selector descendiente -MONTENEGRO ARELLANO JHON*/
    float: left;
    color: #fff;
    margin: 20px;
    font-weight: normal;
    line-height: 30px;
    font-size: 200%;
    margin-right: 25px;
    padding-right: 35px;
}
.twitter{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    padding-right:25px ;
    padding-top: 20px;
    padding-bottom:12px;
  
    border-right: 1.5px solid;
 
}
.twitter a{
    margin: 8px 15px 10px 12px;
color: antiquewhite;

}
.twitter:hover{
    background-color:#a5a7aa;
  
}
.im-tuit{
    width: 42px;
    border-radius:20px ;
    height: 42px;
    margin-left: 12px;

}


/*------------CSS JOSUE ROMERO INICIO-----------------*/

#combos_y_arreglos{
    color: cornsilk;
}

#Productos_Todos{

    color:rgb(55, 30, 75);
}




.girasoles {

    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(229, 168, 66);
    background-color: rgb(229, 168, 66);
   
}


.orquideas {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(178, 199, 106);
    background-color: rgb(178, 199, 106);
}

.rosas {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(167, 25, 6);
    background-color: rgb(167, 25, 6);
}

.lirios {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(242, 220, 205);
    background-color: rgb(242, 220, 205);
}

.amor {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(145, 1, 1);
    background-color: rgb(145, 1, 1);
}

.mama {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(95, 2, 90);
    background-color: rgb(114, 0, 108);
}

.papa {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(25, 1, 92);
    background-color: rgb(25, 1, 92);
}

.mimo
 {
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}
.funebre{
    /*border-radius: 10px; */
    text-align: center;
    display: inline-block;
    width: 24%;
    border: 5px solid rgba(12, 0, 34, 0.856);
    background-color: rgba(12, 0, 34, 0.856);
}



/*------------FIN JOSUE ROMERO-----------------*/

